/.vscode/
/backend/.idea/
/backend/.venv/
/.env
/.idea/dataSources/b38538c9-a4dd-4eea-9cc9-f8012a29282b.xml
/.idea/csv-editor.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/encodings.xml
/.idea/dataSources/b38538c9-a4dd-4eea-9cc9-f8012a29282b/storage_v2/_src_/schema/main.uQUzAA.meta
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
